<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" >

    {% if user.is_authenticated %}
        <p>Status: <strong>Logged in</strong> ({{ user.username }})</p>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Status: <strong>Not logged in</strong></p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <h1>Christmas meal voting</h1>
    <p>Here you can vote for your favorite Christmas meal.</p>
    <strong>You need to be logged in to be able to vote.</strong>

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>